/* Estilos generales */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 50px;
}

.navbar {
  background-color: #203c6c;
  /* Color azul rey */
  width: 11%;
  /* Ancho de la barra de navegación */
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0;
  transition: 0.3s;
  font-size: 20px;
  /* Agregar transición para un cambio suave en la transición */
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin: 10px auto;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  /* Color del texto en la barra de navegación */
  display: block;
  padding: 10%;
  margin: 1%;
}

/* Estilos al seleccionar */
.navbar ul li a:hover {
  background-color: rgb(255, 255, 255);
  /* Cambiar color de fondo al pasar el mouse */
  padding-left: 50px;
  /* Aumentar el padding al pasar el mouse */
  padding-right: 50px;
  border: 10px;
  border-radius: 10px;
  color: black;
}

.content {
  margin-top: 10px;
  margin-left: 350px;
  margin-right: 250px;
  background-color: #f2f2f2;
  border: 10px solid transparent;
  border-radius: 20px;
  /* Ajusta el margen izquierdo para dar espacio al navbar */
}

/* Estilos para el contenedor de cuestionario */
.cuestionario {
  padding-left: 25%;
  margin-top: -7%;
  padding-right: 10%;
  text-align: justify;
  font-size: auto;
}

/* Estilos para el contenedor de texto e imagen */
.content-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin-top: -30px;
}

.side-image {
  max-width: 11%;
  margin-left: 78%;
  margin-top: 16%;
  margin-bottom: -7%;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
}

.circle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3.5px solid #5a7fed;
  /* Borde del mismo color */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  opacity: 25%;
}

.filled {
  background-color: #5a7fed;
  /* Color de círculos llenados */
  opacity: 100%;
}

.checkmark {
  color: #fff;
  /* Color de la palomita */
  font-size: 25px;
  border-radius: 10%;
  line-height: 1;
  position: absolute;
}

/* Estilos para el texto encima del círculo */
.top-text {
  position: absolute;
  top: -30px;
  /* Ajusta la posición vertical */
  left: 0%;
  /* Alineación a la derecha */
  font-size: 10px;
  align-items: center;
  white-space: nowrap;
}

.text-negritas {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.text-plano {
  position: absolute;
  font-size: 12px;
  margin-left: 40%;
  margin-top: 20%;
}

/* Estilos para el texto debajo del círculo */
.bottom-text {
  position: absolute;
  bottom: -30px;
  /* Ajusta la posición vertical */
  left: 50%;
  /* Alineación al centro */
  transform: translateX(-50%);
  /* Centrar el texto horizontalmente */
  font-size: 10px;
  white-space: nowrap;

}

.line {
  width: 17%;
  height: 2px;
  border: 2px solid #5a7fed;
  /* Borde del mismo color */
  background-color: #5a7fed;
  /* Color gris para líneas no conectadas */
  opacity: 25%;
}


.filled+.line {

  background-color: #5a7fed;
  /* Color de líneas conectadas */
  opacity: 100%;

}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #f2f2f2;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-backward,
.button-forward {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  /* Borde del botón */
  border-radius: 50%;
  /* Hacer botón circular */
  background: transparent;
  /* Fondo transparente */
  cursor: pointer;
  position: relative;
}

.button-backward::before,
.button-forward::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
}

.button-backward::before {
  border-width: 8px 8px 8px 0;
  border-color: transparent #ff6347 transparent transparent;
  /* Color y dirección de la flecha */
  left: 45%;
  /* Centra la flecha */
}

.button-forward::before {
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #007bff;
}

.button-backward {
  margin-right: auto;
  /* Empuja el botón "Backward" a la izquierda */
  margin-left: 15%;
  /*MODIFICAR AL TERMINAR EL MENÚ DESPLEGABLE*/
  border: 2px solid #ff6347;
  /* Borde circular */
}

.button-forward {
  margin-left: auto;
  /* Empuja el botón "Forward" a la derecha */
  border: 2px solid #007bff;
  /* Borde circular */
}

/*MODIFICAR AL TERMINAR EL MENÚ DESPLEGABLE*/
.page-counter1 {

  font-size: 18px;
  /* Tamaño del texto */
  margin-left: 56.65%;
  position: relative;
}

.page-counter {

  font-size: 18px;
  /* Tamaño del texto */
  margin-left: auto;
  /* Ajuste de los márgenes para centrar el texto */
  margin-right: auto;
  position: relative;
}

.page-counter5 {

  font-size: 18px;
  /* Tamaño del texto */
  margin-right: 41.65%;
  position: relative;
}

.linea {
  margin-top: -3%;
  margin-bottom: -45px;
  color: #ccc;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #203c6c;
  color: white;
  font-weight: 600;
}

.spacer {
  flex: 1;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

/* Agrega reglas CSS para hacer que los elementos del formulario se muestren horizontalmente */

/* Alinear etiquetas y controles de entrada en la misma línea */

.row0 {
  display: flexbox;
  columns: 4;
}

@media (max-width: 767px) {
  .row0 {
    flex-direction: column;
    margin-bottom: 1%;
    margin-left: 3%;
    display: contents;
  }
}

.row {
  display: flexbox;
  columns: 3;
  margin-bottom: -100px;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
    margin-bottom: 1%;
    margin-left: 3%;
    display: inline-flex;
  }
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flexbox;
  columns: 3;
  align-items: justify;
  text-align: justify;
}



@media (max-width: 767px) {

  .row1,
  .row2,
  .row3,
  .row4,
  .row5 {
    flex-direction: column;
    margin-bottom: 1%;
    margin-left: 3%;
    display: inline-flex;
  }
}

/*------------------------------------------------------*/
.container12 {
  background-color: #f0f0f0;
  /* Color de fondo gris */
  padding: 20px;
  border-radius: 30px;
}

/*grupo de componentes de V*/
.component-group {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

@media (max-width: 767px) {
  .component-group {
    flex-direction: column;
    margin-bottom: 1%;
    margin-left: 3%;
    display: inline-block;
  }
}

.component {
  text-align: justify;
  margin-right: 20px;
  /* Espacio entre componentes */
}

label {
  display: inline-flex;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
}

select {
  width: 85%;
  /* Ancho deseado para los componentes */
}

input {
  width: 85%;
  /* Ancho deseado para los componentes */
}

textarea {
  width: 100%;
  /* Ancho deseado para el textarea */
  height: 100px;
  /* Altura deseada para el textarea */

}

.group-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.component2 {
  text-align: center;
  width: 30%;
  /* Ancho de cada grupo */
}

/*------------------------------------------------------------------*/
.form-group .row>div[class^="col-"] {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  border-radius: 100px;

}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.uniform-input {
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input::placeholder {
  color: #666;
}

input:hover,
input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input.error {
  border-color: #dc3545;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #45a049;
}