#gContainer{
    background-color: #F2F2F2;
    margin: 20px;
    
}

h3{
    padding: 20px;
    font-size: bold;
}

p{
    padding: 20px;
}

#card1{
    padding: 10px;
}
#card2{
    padding: 10px;
}

#card3{
    padding: 10px;
}

#card4{
    padding: 10px;
}


#card5{
    padding: 10px;
}
#card6{
    padding: 10px;
}

h5{
    padding: 20px;
    padding-top: 10px;
}


#card7{
    padding: 10px;
}

#card8{
    padding: 10px;
}

#card9{
    padding: 10px;
}

#card10{
    padding: 10px;
}


#card11{
    padding: 10px;
}

#card12{
    padding: 10px;
}